body, html {
  width: 100%;
  background: radial-gradient(red, black);
}
.table-wrap {
  height: 40%;
  text-align: center;
}

table {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  overflow: auto;
  color: #000;
}

td {
  background-color: black;
  border: 0.5px solid lightgrey;
  text-align: center;
  color: inherit;
  width: 11px;
  height: 11px;
}
td:hover {
  cursor: pointer;
}

.alive {
  background-color: red;
  
  color: red;
}
#gen {
  color: lightgrey;
}